* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  body {
    color: #333;
  }

.CardsWrapper {
  display: flex;
  flex-wrap: wrap;         /* Quebra se não couber */
  gap: 20px;               /* Espaço entre os cards */
  justify-content: space-evenly; /* Ou center se quiser centralizado */
}
  
  .DashboardConteudo {
    margin-left: 250px;
    padding: 30px;
    min-height: 100vh;
  }
  
  .CardsSuperiores {
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
    margin-bottom: 160px;
    justify-content: center;
  }
  
  .CardInfo {
    width: 266px;
    height: 136px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    border: 1px solid #c0c0c0;
    font-size: 18px;
  }
  
  .CardInfo span.material-symbols-outlined {
    font-size: 28px;
    color: #387CDF;
  }
  
  .CardInfo p {
    font-size: 16px;
    color: #666;
  }
  
  .CardInfo h3 {
    font-size: 20px;
    color: #000;
  }
  
  .SecaoDados {
    display: flex;
    flex-direction: column;  /* Um embaixo do outro */
    align-items: center;     /* Centraliza horizontalmente */
    gap: 20px;               /* Espaçamento entre os blocos */
    margin-top: 30px;        /* Espaço superior opcional */
  }
  .DadoBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    background-color: #fff;
    border: 1px solid #c0c0c0;
    border-radius: 4px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  }
  
  .DadoBoxTopo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
  }
  
  .DadoBox p {
    font-size: 14px;
    color: #333;
    margin: 6px 0;
  }
  
  .DadoBox p strong {
    font-size: 18px;
    color: #000;
  }