
p{
    margin-left: 380px;
}
h1{
    margin-left: 380px;
    font-size: 50px;
    margin-top: 80px;
    color: black;
}
.navbar {
    position: fixed;
    top: 0;
    gap:0;
    display: flex;
    justify-content: flex-end;
    margin-left: 100rem;
}

.navbar button {
    background: none;
    border: none;
    font-size: 24px;
    color: #1A80E5;
}

.navbar button .material-symbols-outlined {
    font-size: 30px; 
}

.container{
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #fff;
    padding: 180px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1)

}
.inputs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    column-gap: 40px;
    row-gap: 40px;
    margin-bottom: 30px;
    white-space: nowrap;
 
 }

 .inputs label {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    font-size: 15px;
    font: bold; 
    
    
}

.date{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}
.date input{
    background-color: #CDD7DF;
    border: none;
    border-radius: 8px;
    padding: 10px;
}
.date label{
    font-size: 16px;
    white-space: nowrap;
}
button{
    background-color: #28A745;
    border-radius: 8px;
    border: none;
    color: aliceblue;
    padding: 12px 20px;
    cursor: pointer;
    font-size: 16px;
    
}
